.content-container {
    display: flex;
    padding: 20px 20px;
}

.movie-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px 18px -30px 18px;
}

.movie-item .movie-img:hover {
    border: 2px solid #1caf9a;
}

.movie-item .movie-name {
    position: relative;
    line-height: 30px;
    top: -30px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
}

.movie-item .movie-img {
    height: 165px;
    width: 120px;
    cursor: pointer;
}

.statistic-item {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
}

.movie-contianer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 850px;
    justify-content: space-between;
}

.statistic-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 850px;
    justify-content: space-between;
    margin-left: 40px;
}

.movie-contianer ul {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
}

.statistic-container ul {
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 10px 20px;
}
.imageflow{overflow:hidden; position:relative; text-align:left; visibility:hidden; width:100%}
.imageflow img{border:none; position:absolute; top:0px; visibility:hidden; -ms-interpolation-mode:bicubic}
.imageflow p{margin:0 auto; text-align:center}
.imageflow .loading{border:1px solid #ccc; height:15px; left:50%; margin-left:-106px; padding:5px; position:relative; visibility:visible; width:200px}
.imageflow .loading_bar{background:#ccc; height:15px; visibility:visible; width:1%}
.imageflow .caption{font-weight:bold; position:relative; text-align:center; z-index:10000}
.imageflow .scrollbar{border-bottom:1px solid #b3b3b3; position:relative; visibility:hidden; z-index:10001; height:1px}
.imageflow .images{overflow:hidden; white-space:nowrap}
.imageflow .button{cursor:pointer; height:17px; position:relative; width:17px}