<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>
    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/imageflow.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">Darth Vader Cinema</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">个人中心&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li><a href="/user/getTrans">消费记录</a></li>
                <li><a href="/user/getRecharge">充值记录</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <div id="LoopDiv">
        <input id="S_Num" type="hidden" value="8" />
        <div id="starsIF" class="imageflow">
            <img src="http://n.sinaimg.cn/translate/640/w600h840/20190312/ampL-hufnxfm4278816.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="杨颖" />
            <img src="/images/195739743_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="霍思燕" />
            <img src="/images/184449150_R.png" longdesc="http://sc.chinaz.com" width="280" height="300" alt="马苏" />
            <img src="/images/171852304_R.png" longdesc="http://sc.chinaz.com" width="280" height="300" alt="杜淳" />
            <img src="/images/195359252_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="冯绍峰" />
<!--            <img src="/images/205427556_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="沙溢" />-->
<!--            <img src="/images/195001998_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="廖凡" />-->
<!--            <img src="/images/121306920_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="保剑锋" />-->
<!--            <img src="/images/151817631_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="姚晨" />-->
<!--            <img src="/images/172141456_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="井柏然" />-->
<!--            <img src="/images/105953334_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="陈楚河" />-->
<!--            <img src="/images/092950120_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="李晨" />-->
<!--            <img src="/images/112020805_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="段奕宏" />-->
<!--            <img src="/images/210858906_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="朱亚文" />-->
<!--            <img src="/images/202510490_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="苏有朋" />-->
<!--            <img src="/images/211605770_R.jpg" longdesc="http://sc.chinaz.com" width="280" height="300" alt="张涵予" />-->
        </div>
    </div>
</body>
</html>